<script>

base_terminal_state.path = "/portfolio";

base_terminal_state.commands = 
[...base_terminal_state.commands,
    {
      call: "show portfolio.md",
      out: `
<h1>Portfolio</h1>
{{ #each project }}
  <h3><a href="{{ path }}">{{ title }}</a></h3>
  <img class="max-w-[300px]" src="{{ img }}" />
  <p>{{ description }}</p>
</div>
{{ /each }}
        ` 
    }
    ];

base_terminal_state.available_files = [
  { name: ".", path: "/portfolio.html" },
  {name:"..", path:"/index.html"},
  {name:"portfolio.md", path:"FILE"},
]

base_terminal_state.special_command = {
  call: "show portfolio.md",
  out: `
<h1>Portfolio</h1>
{{ #each project }}
  <h3><a href="{{ path }}">{{ title }}</a></h3>
  <img class="max-w-[300px]" src="{{ img }}" />
  <p>{{ description }}</p>
</div>
{{ /each }}
        `
  
}

set_state()

</script>
