<script>

base_terminal_state.path = "/blog/{{name}}";

base_terminal_state.commands = [...base_terminal_state.commands, {
  call: "show post.md"
  ,out: `
  <div class="sm:px-none w-full sm:w-3/4 lg:w-1/2">
    <h1>{{title}}</h1>
    <span>Author: {{author}}</span>
    <span>Date: {{date}}</span>
    <p>=========================</p>

  </div>
<div class="w-full flex">
  <div class="sm:px-none w-full  sm:w-3/4 lg:w-1/2">
    {{{ content }}}
  </div>
</div>
    
  `
}];

base_terminal_state.special_command = {
  call: "show post.md"
  ,out: `
  <div class="sm:px-none w-full sm:w-3/4 lg:w-1/2">
    <h1>{{title}}</h1>
    <span>Author: {{author}}</span>
    <span>Date: {{date}}</span>
    <p>=========================</p>

  </div>
<div class="w-full flex">
  <div class="sm:px-none w-full  sm:w-3/4 lg:w-1/2">
    {{{ content }}}
  </div>
</div>
    
  `
};


base_terminal_state.available_files = [
  {name: "..", path: "/blog.html"},
  {name: ".", path: "{{path}}"},
  {name: "post.md", path:"FILE"}
]

set_state()
</script>


