<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=" />
    <title>{{title}}</title>
    <link href="../css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div id="nav">
      <a href=""></a>
      <a href="">Home</a>
      <a href="">Contact</a>
      <a href="">Portfolio</a>
    </div>
    <div class="header">
      <h1>{{title}}</h1>
      <h4>Author: {{author}}</h4>
      <p>Date: {{date}}</p>
    </div>
    <div class="content">{{{ content }}}</div>
  </body>
</html>
